/* Sava Gavrić 0359/18 */
.linija_menija { 
	width: /* 100%; */87.65%;
	height:78px;
	position:relative;
	left:3.125%;
	top:2.8vh;
	font-size: 1.05vw;
	letter-spacing: 0.65px;
    /* background-color: rgb(28, 28, 29); */
}

.prijava_registracija { 
	width:19.05%;
	height:90%;
	position:absolute;
	left:87%;
	top:5%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.link_registracija{
	background-color:#006039;
	width:52.2%;
	height:90%;
	max-height: 4vw;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	text-shadow: 0px 4px 4px #000000b9;
	box-shadow:2px 4px 3px rgba(0, 0, 0, 0.55);
}

.link_registracija:hover{
	width:53.6%;
	height:92%;
	background-color:#00814e;
}

.registruj_se { 
	color:rgba(255, 255, 255, 1);
	width:90%;
	height:100%;
	font-weight: 30;
	text-align: center;
}

.linija { 
	transform: rotate(90deg);
	opacity:0.5;
	width:10%;
	height:0px;
}
.linija { 
	border:1px solid rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
}
.prijavi_se { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0);
	color:rgba(255, 255, 255, 1);
	width:30%;
	height:auto;
	text-align:center;
	text-shadow: 0px 4px 4px #000000b9;
}
.meni_info { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0);
	
	height:90%;
	position:absolute;
	left:37%;
	top:5%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
.meni_info ul li{
	margin-right: 2vw;
	list-style: none;
	display: inline-block;
}
.meni_info ul li a{
	color:rgba(255, 255, 255, 1);
	text-align:left;
	text-shadow: 0px 4px 4px #000000b9;
}

.linija_menija a{
	text-decoration: none;
}
.linija_menija a:hover{
	color: #00814e;
	color: #C2983D;
	font-weight: bold;
}

.logo_naziv { 
	width:auto;
	height:100%;
	position:absolute;
	left:0px;
	top:6%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo_wrapper{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.logo { 
	width:2vw;
	height: auto;
	object-fit: contain;
}

.naziv {
	margin-left: 10px;
	color:#C2983D;
	font-family: 'Cinzel', serif;
	text-align:left;
	font-size:1.3vw;
	letter-spacing:3px;
	text-shadow: 0px 4px 4px #000000b9;
	align-items: center;
	
}

.dropdown{
    position: relative;
    display: inline-block;
}

.drop_btn{
	list-style: none;
	display: inline-block;
    color:rgba(255, 255, 255, 1);
	text-align:left;
	text-shadow: 0px 4px 4px #000000b9;
    font-family: 'Marcellus', serif;
    font-size: 1.05vw;
    background: none;
    border: none;
}

.drop_btn:hover{
    color: #00814e;
	color: #C2983D;
	font-weight: bold;
    cursor: pointer;
}


.dropdown-content{
    display: none;
    position: absolute;
    background: none;
    min-width: 100px;
    align-items: center;
    background-color: rgb(28, 28, 29);
    z-index: 1;
}

.dropdown-content a{
    font-family: 'Marcellus', serif;
    color:rgba(255, 255, 255, 1);
    padding: 12px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }