.cela_strana_moj_profil{
    background-color:rgb(28, 28, 29);
	width:100%;
	height:auto;
	overflow:hidden;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.wrapper_moj_profil{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 15vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.levo_moj_profil{
    width: 17vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0vw;
}
.levo_moj_profil a{
    text-decoration: none;
}
.dugme_navigacija_naloga{
    width: 100%;
    height: 9vh;
    background-color: #006039;
    margin-bottom: 2.5vh;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px rgb(19, 19, 19);
}
.dugme_navigacija_naloga:hover{
    background-color: #00814e;
    box-shadow: 2px 4px 6px rgb(19, 19, 19);
}
.text_dugmeta{
    color: white;
    font-weight: bold;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    text-align: center;
    text-shadow: 0px 2px 2px rgb(19, 19, 19);
}

.navigacija_naloga{
    width: 90%;
    height: 55vh;
    background-color: rgba(14, 14, 14, 0.5);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2vw;
}
.navigacija_naloga h2{
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 1.4vw;
    margin-bottom: 0.5vh;
    margin-top: -1vh;
    letter-spacing: 1.3px;
}
.element_navigacije{
    width: 80%;
    height: auto;
}
.element_navigacije span:hover{
    color: #c2983d !important;
    font-weight: bold;
}
.tekst_elementa{
    margin-top: -0.5vh;
    color: rgb(194, 194, 194);
    font-size: 0.85vw;
    font-weight: bolder;
    letter-spacing: 0.085vw;
}

.desno_moj_profil{
    width: 63vw;
    height: 220vh;
    background-color: rgba(14, 14, 14, 0.5);
    margin-left: 2vw;
    border-radius: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0vh;
    padding-bottom: 10vh;
}

hr{
    border: none;
    height: 0.13vh;
    background-color: rgb(109, 109, 109); 
    margin-top: 3.5vh;
}
.naslov_sekcije{
    color:#c2983d;
    letter-spacing: 0.12vw;
    font-weight: bold;
    font-size: 2.1vw;
    margin-top: 5vh;
    text-shadow: 0px 4px 6px rgb(17, 17, 17);
}

.informacije_profila{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: -7vh;
    margin-left: 1vw;
    text-shadow: 0px 2px 4px rgb(17, 17, 17);
    margin-bottom: -7vh;
}

.podaci_profila{
    color: rgb(240, 240, 240);;
    font-size: 1.2vw;
    font-weight: bolder;
    letter-spacing: 0.18vw;
    margin-left: 5vw;
}

.profilna_slika img{
    width: 12vw;
    height: 12vw;
    background-color: #006039;
}


.recenzije_profila{
    width: 100%;
    height: 57vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.recenzije_profila span{
    color: rgb(240, 240, 240);
    font-weight: bolder;
    font-size: 1.3vw;
    letter-spacing: 0.097vw;
    text-shadow: 1px 3px 5px rgb(15, 15, 15);
}

.odeljak_recenzija{
    width: 95%;
    height: 25vh;
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.div_recenzije{
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 1.6vw;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.div_recenzije:hover{
    background-color: rgba(0, 0, 0, 0.356);
}
.username_korisnika_recenzije{
    margin-top: 0.5vh !important;
    color: rgb(240, 240, 240) !important;
    font-size: 1vw !important;
    margin-bottom: 1vh !important;
    letter-spacing: 0.125vw !important;
}
.ocena_recenizje{
    color:rgb(240, 240, 240) !important;
    font-size: 1vw !important;
    margin-bottom:3vh !important;
}
.tekst_recenzije{
    color: rgb(219, 219, 219) !important;
    font-size: 0.65vw !important;
    text-shadow: 0px 0px 0px rgb(17, 17, 17) !important;
    letter-spacing: 0.11vw !important;
    font-style: italic !important;
    font-weight: normal !important;
    word-wrap:break-word;
    overflow: scroll;
}

.odeljak_oglasa{
    width: 100%;
    height: 50vh;
    margin-top: -5vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.moji_istaknuti_oglasi{
    width: 100%;
    height: 35vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.div_oglasa{
    width: 12vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 1vw;
    text-align: center;
}
.div_oglasa:hover{
    background-color: rgba(0, 0, 0, 0.397);
}
.div_fotografije_oglasa{
    width: auto;
    max-width: 100%;
    height: 70%;
    background-image: url("../../images/ap1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
}

.div_naslova_i_cene_istaknuti{
    width: 100%;
    height: 25%;
}
.nalov_oglasa_istaknuti{
    color: rgb(219, 219, 219);
    font-size: 0.75vw ;
    font-weight: normal !important;
}
.cena_oglasa_istaknuti{
    color: #c2983d !important;
    font-size: 1.5vw;
    margin-top: -0.2vh;
    letter-spacing: 0.12vw;
    font-weight: bold !important;
   
}

.istaknuti_div{
    background-color: #c2983df6 !important;
}
.istaknuti_div:hover{
    background-color: #c2983de3 !important;
}
.istaknuti_naslov{
    color: rgb(20, 20, 20) !important;
    font-weight: bolder !important;
}
.istaknuta_cena{
    color: #006039 !important;
}


.datum_isticanja{
    text-align: center;
    font-size: 1.3vw;
    color: rgb(240, 240, 240);
    letter-spacing: 0.13vw;
    font-weight: bolder;
    text-shadow: 1px 4px 6px #1b1b1b;
}

.datum_span{
    color: #c2983d;
    font-weight: bold;
    font-size: 1.5vw;
}

.div_prikazi_sve{
    width: 100%;
    height: 7vh;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}
.div_prikazi_sve a{
      text-decoration: none;
}

.dugme_prikazi_sve{
    width: 12vw;
    height: 100%;
    background-color: #006039;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 1.5vw;
    box-shadow: 1px 4px 6px rgb(17, 17, 17);
}
.dugme_prikazi_sve:hover{
    background-color: #00814e;
    box-shadow: 4px 8px 10px rgb(17, 17, 17);
}
.dugme_prikazi_sve h3{
    color:  rgb(240, 240, 240);
    font-size: 0.8vw;
    font-weight: bolder;
    letter-spacing: 0.1vw;
}

.link_za_klik{
    width: 100%;
    height: 100%;
    margin-top: 2vh;
}
