/*Aleksa Vukovic 18/0354*/
.cela_strana_moj_profil{
    background-color:rgb(28, 28, 29);
	width:100%;
	height:auto;
	overflow:hidden;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.wrapper_moj_profil{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 15vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.levo_moj_profil{
    width: 17vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0vw;
}
.levo_moj_profil a{
    text-decoration: none;
}

.div_filtriranja{
    width: 100%;
    height: auto;
    background-color: rgba(14, 14, 14, 0.5);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2vw;
    margin-left: -1vw;
     
}

.element_filtriranja{
    width: 90%;
    height: auto;
    margin-bottom: 5vh;
    cursor: pointer;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-image: url('../../images/strelica-filtriranje.png');
    background-position: 95% center;
    background-size: 4.8%;
    background-repeat: no-repeat;
}

.tekst_elementa{
    margin-top: -0.5vh;
    color: rgb(194, 194, 194);
    font-size: 0.95vw;
    font-weight: bolder;
    letter-spacing: 0.1vw;
}





.div_prikazi_sve{
    width: 100%;
    height: 7vh;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}
.div_prikazi_sve a{
      text-decoration: none;
}

.dugme_prikazi_sve{
    width: 12vw;
    height: 100%;
    background-color: #006039;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 1.5vw;
    box-shadow: 1px 4px 6px rgb(17, 17, 17);
}
.dugme_prikazi_sve:hover{
    background-color: #00814e;
    box-shadow: 4px 8px 10px rgb(17, 17, 17);
}
.dugme_prikazi_sve h3{
    color:  rgb(240, 240, 240);
    font-size: 0.8vw;
    font-weight: bolder;
    letter-spacing: 0.1vw;
}

.wrapper_search{
    width: 100%;
    height: 12vh;
    margin-top: 15vh;
    margin-bottom: -18vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  
}
.orkuzujuci_div_search_bar{
    width: 73vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 2vw;
}
.div_search_bar{
	
	width: 100%;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Marcellus', serif;
}
.search__input {
	font-family: 'Marcellus', serif;
    width: 25vw;
	height: 5.159958720330238vh;
	margin-top:2.579979360165119vh;
    padding: 12px 24px;
    outline: none;
    transition: transform 100ms ease-in-out;        
	font-size: 0.8vw;
    line-height: 0.8vw;
    color:rgba(165, 165, 165, 0.9);
    background-color: #474747;
    background-image: url('../../images/search.png');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #181818;
    transition: all 400ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.search__input::placeholder {
	font-family: 'Marcellus', serif;
    font-weight: bolder;
    color: rgba(165, 165, 165, 0.637);
    letter-spacing: 1.3px;
}
.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid rgba(134, 134, 134, 0.9);
    border-radius: 0;
    background-position: 100% center;
    background-color: transparent;
    color: rgba(165, 165, 165, 0.9);
	padding-left: 0.7vw;  
}

.dugme_za_pretrazivanje{
    position: absolute;
    right: 34.5%;
    top: 42%;
    width: 0.957vw;
    height: 1.9vh;
    background-color: transparent;
    transition: 0.4s ease-in-out;
}


.desno_moj_profil{
    width: 68vw;
    height: 190vh;
    background-color: rgba(14, 14, 14, 0.5);
    margin-left: 2vw;
    border-radius: 1vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 0vh;
    padding-bottom: 10vh;
}

hr{
    border: none;
    height: 0.13vh;
    background-color: rgb(109, 109, 109); 
    margin-top: 3.5vh;
}
.naslov_sekcije{
    color:#c2983d;
    letter-spacing: 0.12vw;
    font-weight: bold;
    font-size: 2.1vw;
    margin-top: 5vh !important;
    text-shadow: 0px 4px 6px rgb(17, 17, 17);
}


.odeljak_oglasa{
    max-width: 100%;
    height: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding-bottom: 20vh;
}
.moji_istaknuti_oglasi{
    width: 25%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 9vh;
}
.div_oglasa{
    width: 12vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 1vw;
    text-align: center;
    position: relative;
    box-shadow: 4px 6px 10px #0a0a0a;
}
.div_oglasa:hover{
    background-color: rgba(0, 0, 0, 0.397);
    box-shadow: 6px 10px 14px #0a0a0a;
}
.div_fotografije_oglasa{
    width: auto;
    max-width: 100%;
    height: 70%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.div_naslova_i_cene_istaknuti{
    width: 100%;
    height: 25%;
    margin-top: 2vh;
}
.nalov_oglasa_istaknuti{
    color: rgb(219, 219, 219);
    font-size: 0.75vw ;
    font-weight: normal !important;
}
.cena_oglasa_istaknuti{
    color: #c2983d !important;
    font-size: 1.5vw;
    margin-top: 0.5vh;
    letter-spacing: 0.12vw;
    font-weight: bold !important;
   
}

.istaknuti_div{
    background-color: #c2983df6 !important;
}
.istaknuti_div:hover{
    background-color: #c2983de3 !important;
}
.istaknuti_naslov{
    color: rgb(20, 20, 20) !important;
    font-weight: bolder !important;
}
.istaknuta_cena{
    color: #006039 !important;
}

.korisnik_div{
    background-color: #00814e55;
}
.korisnik_div:hover{
    background-color: #00603988;
}

.dodaj_u_listu_istaknuti{
    width: 1.5vw;
    height: 3vh;
    position: absolute;
    top: 1vh;
    right: 0.5vw;
    background-image: url("../../images/heart_istaknuti.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    border-radius: 0.3vw;
}
.dodaj_u_listu_istaknuti:hover{
     background-color: rgba(255, 255, 255, 0.178);
}

.dodaj_u_listu{
    width: 1.5vw;
    height: 3vh;
    position: absolute;
    top: 1vh;
    right: 0.5vw;
    background-image: url("../../images/heart.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 75%;

    border-radius: 0.3vw;
}
.dodaj_u_listu:hover{
   background-color: rgba(109, 109, 109, 0.15);
}

.lista_izbora{
    width: 90%;
    height: auto;
    margin-top: -7vh;
    margin-bottom: -22vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s ease-in, margin-top 0.6s, visibility 0.6s, margin-bottom 0.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.div_jednog_izbora{
    position: relative;
    margin-left: 1vw;
    margin-bottom: 5vh;
}


.checkbox_i_labela{
    position: absolute;
    left: 0%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
   
}
input[type="checkbox"]{
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    height:1vw;
    width: 1vw;
    background-color: #d5d5d5;
    border-radius: 0.3vw;
    cursor: pointer;
    background-image: url(../../images/checkbox.png);
    background-size: 0.7vw 0.7vw;
    background-repeat: no-repeat;
    background-position: 60%;
    margin-top: 1vh;
    margin-bottom: -0.4vh;
}
input[type="checkbox"]:hover{
    background-color: #a5a5a5;
    background-image: url(../../images/checkbox_darker.png);
    background-size: 0.7vw 0.7vw;
    background-repeat: no-repeat;
    background-position: 60%;
}
input[type="checkbox"]:checked{
    background-color: #00814e;
}
input[type="checkbox"]:checked:hover{
    background-color: #008f56;
}

.labela{
    color: rgb(194, 194, 194); 
    font-weight: bolder;
    letter-spacing: 0.1vw;
    font-size: 0.7vw;
    margin-left: 0.5vw;
    font-family: 'Marcellus', serif;
    cursor: pointer;
}


.checkbox_i_labela input[type="number"]{
    outline: none;
    width: 3vw;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.432);
    border: none;
    color:  rgb(194, 194, 194);
    border-radius: 0.3vw;
    padding: 0.5vw;
    padding-left: 1.1vw;
    font-weight: bolder;
    font-size: 0.8vw;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 0.5vh;
  border-radius: 1vw;  
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 3vh;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.9vw;
  height: 0.9vw;
  border-radius: 50%; 
  background: #c2983d;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  background: #a18037;
}

.slider::-moz-range-thumb {
  width: 0.9vw;
  height: 0.9vw;
  border-radius: 50%;
  background: #c2983d;
  cursor: pointer;
}

.output {
    width: 85%;
    height: auto;
    text-align: center;
    font-size: 1.5vw;
    color: #00814e;
    margin-top: -2vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
}

.div_dugme_pretplati_se{
    width: 100%;
    height: 10vh;
    margin-top: 8vh;
    display: flex;
    justify-content: start;
    padding-left: 10vw;
    padding-right: 10vw;
    position: absolute;
    top: 205vh;
    left: 30vw;
}
.div_dugme_pretplati_se a{
      text-decoration: none;
}

.dugme_pretplati_se{
    width: 10vw;
    height: 100%;
    background-color: #c2983d;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 1.5vw;
    box-shadow: 2px 6px 8px rgb(17, 17, 17);
    margin-left: 5vw;
    margin-right: 5vw;
}
.dugme_pretplati_se:hover{
    background-color: #c2983de3;
    box-shadow: 4px 10px 12px rgb(17, 17, 17);
}
.dugme_pretplati_se h3{
    color:  rgb(240, 240, 240);
    font-size: 1.2vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
}

.link_za_klik{
    width: 100%;
    height: 100%;
    margin-top: 2vh;
}

