
body{
	background-image: url('../../images/watch1_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(0, 0, 0, 0.5);
}

    #formazarec{
        display: flex;
          position: relative;
          top: 20vh;
          left: 28vw;
        width:40vw;
        height: 60vh;
        background-color: rgba(12, 12, 12, 0.75);
        border-radius: 3%;
        text-align: center;
    flex-direction: column;
    }
.ns{
color:#c2983d;
letter-spacing: 0.12vw;
font-weight: bold;
font-size: 2.1vw;
margin-top: 5vh;
text-shadow: 0px 4px 6px rgb(17, 17, 17);

}

.polje_za_unos{
    height: 5vh;
    width:10vw;
    outline: none;
    border-radius: 10px;
    font-size: 0.75vw;
    color: rgb(82, 82, 82);
    /*#006039;*/
    border-color:#00814e;
    border-width: 2px;
    border-style: solid;
  
    font-family: 'Marcellus', serif;

}


.polje_za_unos:focus::placeholder{
    color: transparent;
}

.dugme_prikazi_sve{
    width: 12vw;
    height: 8vh;
    background-color: #006039;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 1.5vw;
    box-shadow: 1px 4px 6px rgb(17, 17, 17);
    
    font-weight: bold;
}
.dugme_prikazi_sve:hover{
    background-color: #00814e;
    box-shadow: 4px 8px 10px rgb(17, 17, 17);
}
.dugme_prikazi_sve h3{
    color:  rgb(240, 240, 240);
    font-size: 0.8vw;
    font-weight: bolder;
    letter-spacing: 0.1vw;
}
#idK_kome{
color: transparent;
background-color: transparent;
  width: 1vw;
  border: transparent;
}
#poc{
    margin: 0;
	background-color: rgba(0, 0, 0, 0.466) !important;

	font-family: 'Marcellus', serif;
	letter-spacing: 1px;
    background-color:black;
    width: 100vw;
    height: 100vh;
   
 
}

.overlay{
    height: 100vh;  
}

.dugme_dalje{
    width: 15vw;
    height: 10vh;
    background-color: #006039;
    margin-bottom: 2.5vh;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px rgb(19, 19, 19);
    font-family: 'Marcellus', serif !important;
    border: none;
    margin-top: 5vh;
    outline: none !important;
}
.dugme_dalje:hover{
    background-color: #00814e;
    box-shadow: 2px 4px 6px rgb(19, 19, 19);
}
.text_dugmeta{
    color: white;
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    text-align: center;
    text-shadow: 0px 2px 2px rgb(19, 19, 19);
}

input {
    width: 23vw;
    height: 4vh ;
    outline: none;
    border-radius: 10px;
    font-size: 0.85vw;
    color: rgb(82, 82, 82);
    /*#006039;*/
    border-color:#00814e;
    border-width: 2.5px;
    border-style: solid;
    font-family: 'Marcellus', serif;
    padding-left: 1vw;
}
input::placeholder{
    font-size: 0.67vw;
    font-style: italic;
    color: rgb(170, 170, 170);
}
input:focus::placeholder{
    color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form{
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center !important;
}
textarea{
    width: 25vw !important;
    height: 15vh !important;
    outline: none;
    border-radius: 10px;
    font-size: 0.8vw !important;
    color: rgb(82, 82, 82);
    border-color:#00814e;
    border-width: 2.5px;
    border-style: solid;
    font-family: 'Marcellus', serif;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-right: 1vw;
    resize: none;
    margin-top: -1vh;
    margin-bottom: -1vh;
}
textarea::placeholder{
    font-size: 0.85vw;
    font-style: italic;
}

.col{
    height: 70vh !important;
}